include ./tags

//- Basic stuff

mixin input(id, name, value, label)
  if label
    label(for=id)= label
  input.u-full-width(id=id, name=name, type="text", value=value)&attributes(attributes)

mixin select(id, name, label, options, selected)
  if label
    label(for=id)= label
  select.u-full-width(id=id, name=name)&attributes(attributes)
    each option in options
      - var name, value = null

      if typeof option == 'object'
        - name = option.name
        - value = option.id
      else
        - name = value = option

      option(value=value, selected=(selected == value ? 'selected' : null))= helpers.humanize(name)

mixin state_select(selection)
  -var states = ['AL','AK','AZ','AR','CA','CO','CT','DE','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY'];
  select&attributes(attributes)
    each state in states
      option(value=state, selected= selection == state ? 'selected' : null)= state

mixin checkbox_with_label(id, name, value, label, isSelected)
  label(for=id)
    input(id=id, name=name, value=value, type="checkbox", checked=isSelected ? 'checked' : null)&attributes(attributes)
    .label-body= label

//- Composite elements

mixin attributeGroup(collectionName, allOptions, selected)
  .tag-group
    each option in allOptions
      - var value = option.id;
      - var label = helpers.humanize(option.name);
      - var isSelected = selected && _.findWhere(selected, { id: value })
      - var id = collectionName + '.' + option.name
      - var inputName = collectionName + '[]'

      - var tagClass = 'pull-left '
      - tagClass += (isSelected ? 'active' : '')
      +tag()(class=tagClass)
        +checkbox_with_label(id, inputName, value, label, isSelected)

