mixin input(id, name, value, label)
  if label
    label(for=id)= label
  input.u-full-width(id=id, name=name, type="text", value=value)&attributes(attributes)

mixin state_select()
  -var states = ['AL','AK','AZ','AR','CA','CO','CT','DE','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY'];
  select&attributes(attributes)
    each state in states
      option(value=state)= state



