include ../../mixins/property

extends ../../property_owner_layout

block body

  #js-properties.p-properties

    .row
      .property-page-title
        h1 My Property Profiles
        +create_button()(class='js-create', type='button')

    if properties.length > 0
      .property-list
        each property in properties
          .row.property-list-item(data-property-id=property.id)
            include ./property

  script.
    window.properties = !{JSON.stringify(properties)}
    window.destinations = !{JSON.stringify(destinations)}
    window.amenities = !{JSON.stringify(amenities)}
    window.locations = !{JSON.stringify(locations)}
