include ../../mixins/property

extends ../../property_owner_layout

block body

  #js-properties.p-properties

    .row
      h1 My Property Profiles

      +create_button()(class='js-create', type='button')

    if properties.length > 0
      .property-list
        each p in properties
          .row
            .property-list-item.u-full-width
              .property-list-item-url.pull-right
                a(href="/property/#{p.slug}", target="_blank") view public listing &nbsp;
                  i.fa.fa-external-link

              - var imgUrl = (p.images && p.images.length ? p.images[0].url : 'http://placehold.it/300x200')
              a.property-list-item-image.pull-left(href="#")
                img(src=imgUrl)
                span.property-list-item-image-text ASDF

              .property-list-item-title
                h4= p.name

              .property-list-item-description
                = p.location
                br
                |Amenities: #{p.amenities}

              .property-list-item-controls
                button.js-edit(data-property-id=p.id) Edit
                button.js-upload(data-property-id=p.id) Upload Pics


  script.
    window.properties = !{JSON.stringify(properties)}
