include ../../mixins/tags
include ../../mixins/images
include ../../mixins/property

extends ../../property_owner_layout

block body

  #js-properties.p-properties

    .row
      h1 My Property Profiles

      +create_button()(class='js-create', type='button')

    if properties.length > 0
      .property-list
        each p in properties
          .row.property-list-item
            .four.columns
              - var imgUrl = (p.images && p.images.length ? p.images[0].url : 'http://placehold.it/300x200')
              +image_with_overlay(imgUrl)
                | blah content

            .eight.columns
              .row
                .pull-left
                  h4.property-list-item--title= p.name

                .pull-right
                  a(href="/property/#{p.slug}", target="_blank") view public listing &nbsp;
                    i.fa.fa-external-link

              - var dest = p.destination ? p.destination.name : ''
              if dest
                .row
                  | in &nbsp;
                  +tag()(class="active")
                    = helpers.humanize(dest)

              .row
                p.property-list-item--description= helpers.shorten(p.description, 200)

                //- = destName = p.destination ? p.destination.name : ''
                //- br
                //- |Amenities: #{p.amenities}

              .row
                button.js-edit(data-property-id=p.id) Edit
                button.js-upload(data-property-id=p.id) Upload Pics


  script.
    window.properties = !{JSON.stringify(properties)}
    window.destinations = !{JSON.stringify(destinations)}
    window.amenities = !{JSON.stringify(amenities)}
    window.locations = !{JSON.stringify(locations)}
