extends ../../layout

include ../../mixins/images
include ../../mixins/tabs
include ../../mixins/tags

block nav
  include ../../_public_nav

block body

  .p-property

    //- header row
    .row.p-property--header
      .seven.columns
        h1= property.name

      .four.columns.offset-by-one
        h4 #{property.bedrooms} Bed, #{property.bathrooms} Bath, Sleeps #{property.sleeps}

    //- main content row
    .row

      //- left side bar
      .two.columns
        +side_tab_list()
          +tab("pictures", true) Photos
          +tab("location") Location
          +tab("amenities") Amenities

      //- main content
      .seven.columns
        .row.p-property--content.tab-content
          +tab_panel('pictures', true)
            
            if property.images && property.images.length > 0
              ul.js-image-carousel
                each img in property.images
                  li(data-thumb='http://placehold.it/54x40')
                    +image(img.url, 540, 400)
            else
              +image(null, 540, 400)
            
          +tab_panel('location')
            h3 Location
            +tag_group(locations)

          +tab_panel('amenities')
            h3 Amenities
            +tag_group(amenities)

            p= property.amenitiesDescription

        .row
          if !_.isEmpty(property.description)
            h5 Description
            p= property.description

      //- right side bar
      .three.columns
        - var name = property.user.getFullName() ? property.user.getFullName() : property.user.email
        h5 Contact: &nbsp;
          a(href="mailto:#{property.user.email}")= name

        if property.externalListings.length > 0
          h5 Listings
          ul
            each listing in property.externalListings
              li.property-listing.tag
                img(src="http://www.google.com/s2/favicons?domain_url=#{encodeURIComponent(listing.url)}")
                a(href="//#{listing.url}", target="_blank")= helpers.shorten(listing.url, 20)

  script.
    window.property = !{JSON.stringify(property)}
